*{
	box-sizing: border-box;
}

body{
	font-family: sans-serif;
}

button,
select{	
	background-color: #FFFFFF;
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.4), rgba(180, 180, 180, 0.3));
	border: 1px #AAAAAA outset;
	color: #000000;
	cursor: pointer;
	padding: 3px 4px;
	height: 23px;
	line-height: 1em;
}

button:hover,
select:hover{
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.6), rgba(180, 180, 180, 0.5));
	border: 1px rgba(0, 0, 0, 0.6) outset;
}

button:active,
select:active{
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.6), rgba(180, 180, 180, 0.8));
	border: 1px rgba(0, 0, 0, 0.8) outset;
	outline: none;
}

button:focus,
select:focus{
	outline: none;
}

button:disabled{
	color: #666666;
	border: 1px #EEEEEE outset;
	background-image: linear-gradient(to bottom, rgba(180, 180, 180, 0.3), rgba(180, 180, 180, 0.3));
}

button:disabled:hover{
	border: 1px #EEEEEE outset;
	background-image: linear-gradient(to bottom, rgba(180, 180, 180, 0.3), rgba(180, 180, 180, 0.3));
	cursor: default;
}

#controls *{
	vertical-align: middle;
}

#controls label{
	margin-right: 5px;
}

input[type="text"],
input[type="number"],
textarea{
	border: 1px #DDDDDD solid;
	outline: none;
	height: 23px;
	margin: 0px 5px 0px 0px;
	padding: 2px;
	font-family: "Courier New", monospace;
	width: 50px;
}

textarea{
	width: 100px;
	height: auto;
}

input[type="text"]:hover, input[type="text"]:active, input[type="text"]:focus,
input[type="number"]:hover, input[type="number"]:active, input[type="number"]:focus,
textarea:hover, textarea:active, textarea:focus{
	border-color: #AAAAAA;
}

hr{
	border-top: 1px #AAAAAA solid;
	margin: 5px 0px;
}

code{
	border: 1px #DDDDDD dashed;
    background: #FFFFFA;
    padding: 1px 3px;
    font-size: 1.1em;
}

th{
	text-align: left;
}








