

*{
	border: none;
	margin: 0px;
	padding: 0px;
}

body, html{
	width: 100%;
	height: 100%;
	overflow: hidden;
}

body.wait *{
	cursor: wait; !important
}

h1{
	font-weight: normal;
	font-size: 24px;
	margin-bottom: 7px;
}

#controlPanel{
	position: absolute;
	border: 1px #555555 solid;
	padding: 10px;
	margin: 10px;
	display: flex;
	flex-direction: column;
	width: 290px;
	background-color: rgba(255, 255, 255, 0.8);
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3)
}

#controlPanel #content{
	flex: auto;
	overflow-y: auto;
	margin: 0px -10px 3px -10px;
	padding: 0px 10px;
}

#controlPanel>:last-child button{
	width: 70px;
}

#controlPanel>:last-child>:last-child{
	float: right;
	background-color: #CCFFCC;
}

#controlsTable{
	width: 100%;
	border-spacing: 0px;
}

#controlsTable td{
	padding: 3px 0px;
}

#controlsTable td:first-child{
	max-width: 100%;
}

#controlsTable td:last-child{
	width: 160px;
}

#controlsTable td > div{
	width: 100%;
	display: flex;
}

#controlsTable td > div input,
#controlsTable td > div textarea
{
	flex: auto;
}

#controlsTable td > div :last-child{
	margin-right: 0px;
}

#controlsTable td *{
	vertical-align: top;
}

.squareButton{
	font-size: 28px;
    height: 23px;
    width: 23px;
    line-height: 0px;
    text-align: justify-all;
    padding: 0px;
    margin: 0px 5px 0px 0px;
}

#rotateRight, #rotateLeft{
	font-size: 20px;
	line-height: 1.2em;
}

#lessIterations, #moreIterations{
	padding-bottom: 1px;
	font-size: 18px;
}

#timeLimitLabel{
	outline: 10px solid;
	outline-color: rgba(255, 0, 0, 0.0);
	background-color: rgba(255, 0, 0, 0.0);
	transition: outline-color, background-color;
	transition-timing-function: ease-out;
	transition-duration: 600ms;
}

#timeLimitLabel.alert{
	outline-color: rgba(255, 0, 0, 0.5);
	background-color: rgba(255, 0, 0, 0.5);
	transition-duration: 0ms;
}

#instructionsButtonContainer{
	text-align: center;
	margin-top: 7px;
}

#infoPanel{
	position: absolute;
	right: 0px;
	top: 0px;
	max-width: calc(100% - 310px);
	background-color: rgba(128, 128, 128, 0.01);
	border: 1px rgba(0, 0, 0, 0.03) solid;
	color: rgba(0, 0, 0, 0.4);
	padding: 10px;
	font-family: monospace;
	line-height: 1.7em;
	margin: 10px;

	transition: top;
	transition-timing-function: ease-in-out;
	transition-duration: 300ms;
	
}

#infoPanel:hover{
	background-color: rgba(240, 240, 240, 0.8);
	border: 1px rgba(0, 0, 0, 0.2) solid;
	color: rgba(0, 0, 0, 0.9)
}

#overlay{
	display: none;
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	background-color: rgba(0, 0, 0, 0.3);
	z-index: 100000;
	justify-content: center;
	align-items: center;
}

.popup{
	display: none;
	position: relative;
	flex-direction: column;
	width: 400px;
	max-width: 100%;
	min-height: 50%;
	max-height: 100%;
	border: 1px #000000 solid;
	background-color: #FFFFFF;
	padding: 10px;
}

.popup .closeButton{
	position: absolute;
	top: 5px;
	right: 5px;
	font-size: 18px;
    height: 23px;
    width: 23px;
    line-height: 0px;
    text-align: center;
    padding: 0px;
}

.popup h2{
	font-size: 20px;
	font-weight: normal;
}

.popup h3{
	font-size: 18px;
	font-weight: normal;
	margin-top: 15px;
}

.popup p{
	margin: 10px 0px;
}

.popup .popupContent{
	display: block;
	width: 100%;
	margin-bottom: 10px;
	flex: auto;
	overflow-y: auto;
}

.popupButton{
	width: 100px;
}

.popup :last-child{
	align-self: flex-end;
	flex: none;
}

#instructionsPopup{
	width: 600px;
}

#instructionsPopup p{
	margin-left: 10px;
}

#instructionsPopup table{
	margin-left: 15px;
}

#instructionsPopup td{
	padding: 2px 4px;
}

#instructionsTable{
	border-collapse: collapse;
}

#instructionsTable th{
	font-weight: normal;
	padding: 4px 2px;
}

#instructionsTable td{
	min-width: 80px;
	padding: 4px;
	border: 1px #DDDDDD solid;
	border-width: 1px 0px;
}

#exportURLContainer{
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}

#exportURLContainer :last-child{
	flex: auto;
	margin: 0px 0px 0px 5px;
}

#positionMarker{
	display: none;
	position: absolute;
	top: 100px;
	left: 400px;
	width: 12px;
	height: 12px;
	background-color: #FF0000;
	border-radius: 20px;
	transform: translate(-50%, -50%);
}








